<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="">Explore</a>
      <a routerLink="redeem">Redeem</a>
      <a routerLink="my-movies">My Movies</a>
      <a routerLink="search">Search</a>
      <a routerLink="log-in">LOG IN</a>
      <a routerLink="get-started">GET STARTED</a>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

<app-movie-list [childMovieList]="masterMovieList" (clickSender)="showMovie($event)"></app-movie-list>

<app-show-selected-movie [childSelectedMovie]="selectedMovie" (clickedDone)="finishedViewing()"></app-show-selected-movie>
